html, 
body{
    padding: 0;
    margin: 0;
    height: 100%;
}
main{
    position: relative;
    top:94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nodata,
.headline{
    width: 1000px;
    color: #666666;
    font-weight: 700;
    font-size: 19px;
    height: 20px;
}
.nodata{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}
article{
    position: relative;
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.image{
    width: 250px;
    height: 200px;
}
.image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
article>img{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.bookingcontent{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 200px;
}
.bookingtext{
    margin-left: 20px;
}
.bookingtext span:not(.name){
    font-weight: 500;
    line-height: 13px;
}
.title{
    font-size: 16px;
    font-weight: 700;
    color: #448899;
    margin-bottom: 25px;
    position: relative;
}
.booking_detail{
    margin-bottom: 20px;
    color: #757575;
    font-weight: 700;
    font-size: 16px;
}
hr{
    border: 1px solid #E8E8E8;
    width: 1000px;
    margin: 40px 0;
}
.user_information{
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 30px;
}
article>label{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
.credit-card>label{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    margin-right: 5px;
}
.credit-card{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.tpfield,
input{
    height: 38px;
    width: 200px;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.notice{
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
.confirmOrder{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total_price{
    text-align: center;
    width: 173px;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
.confirmOrder>button{
    background-color: #448899;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin-top: 25px  ;
    font-size: 19px;
    width: 173px;
    height: 36px;
    cursor: pointer;
}
.confirmOrder>button:disabled{
    background-color: #6a787c;
}
.tappay-field-focus {
    border:2px solid black;
}
@media (max-width:1200px){
    hr{
        width: 98%;       
    } 
    article,
    .nodata,
    .headline{
        width: 95%;
    }
}
@media (max-width:600px){
    .image{
        width: 100%;
        margin: 28px 0;
    }
    article{
        width: 100%;
        padding:0 10px;
        box-sizing:border-box
    }
    .bookingcontent{
        flex-wrap: wrap;
        height: auto;
        margin: 0;
    }
    .bookingtext{
        margin-left: 0;
        width: 100%;
        height: 200px;
    }
    article>img{
        top:auto;
        right: 10px;
        bottom: 70px;
    }
}







