html,
body{
    padding: 0;
    margin: 0;
}
.dataResponse{
    color: rgb(196, 25, 25);
    font-size: 14px;
    margin-bottom: 10px;
}
.mask{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.25;
    z-index: 4;
}
.sign{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 340px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 60px #AAAAAA;
    display: none;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    padding: 15px;
    box-sizing: border-box;
}
.decoratorBar{
    height: 10px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    top: 0;
    position:absolute;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);;
}
.sign>input{
    height: 47px;
    width: 310px;
    border: 1px solid #cccccc;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}
.sign>button{
    border: 0;
    font-size: 19px;
    height: 47px;
    width: 310px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #448899;
    color: #fff;
    cursor: pointer;
}
.x{
    position: absolute;
    top:27px;
    right: 17px;
    cursor: pointer;
}
.signText{
    margin: 15px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #666666;
}
.signLine{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
.signLine>span{
    cursor: pointer;
}
header{
    position: fixed;
    display: flex;
    justify-content: center;
    height: 54px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    z-index: 3;

}
.nav{
    display:flex;
    width: 1200px;
    height: 34px;
}
.leftnav{
    height: 34px;
    font-size: 30px;
    color: #448899;
    font-weight: 700;
}
.rightnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:auto;
}
.rightnav>button{
    color: #666666;
    border: 0;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.backgroud{
    background-image: url(welcome.png);
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:54px;
    margin-bottom: 55px;
}
.backgroud>div{
    width: 1200px;
    height: 169px;
    color:#F8F8F8;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.text1{
    font-size: 28px;
    font-weight: 700;
    height: 41px;
    text-shadow: 0px 0px 30px #AABBCC;
}
.text2{
    font-size: 16px;
    height: 22px;
    font-weight: bold;
    margin-top: 25px;
}
.search{
    display: flex;
    width: 460px;
    top:103px;
    margin-top: 25px;
    margin-bottom: 0;
  }
  
.search>input {
    color: #666666;
    width: 400px;
    height: 46px;
    background-color:#fff;
    border: 0;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 15px;
    filter: drop-shadow(0px 0px 20px #AABBCC);
  }

.search>button {
    height: 46px;
    width: 60px;
    background-color:#448899;
    border-style: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
  } 
.searchbar{ 
    width: 400px;
    grid-template-columns: repeat(3,120px);
    background-color: #fff;
    grid-auto-rows: 40px;
    grid-template-areas: "p1 p2 p3 ";
    z-index: 2;
    box-shadow: 0px 0px 20px #AABBCC;
    margin-top: -5px;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
}
.category{
    font-size: 14px;
    color: #000;
    padding: 10px 15px;
    font-weight: 500;
}
.category:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
    cursor:pointer;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    height: 104px;
    bottom: 0;
} 
footer>div{
    font-weight: 700;
    color: #fff;
}


.container{ 
    width: 1200px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4,270px);
    background-color: #fff;
    grid-auto-rows: 242px;
    grid-template-areas: "p1 p2 p3 p4";
    justify-content: center;
    margin: 55px 0;
}
.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box>img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 197px;
    object-fit: cover;
    border-radius: 5px;

}
.name{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 45px;
    background-color: #000000a3;

}
.nametext{
    font-weight: 700;
    color: #fff;
    width: 250px;
    height: 20px;;
    font-size: 14px;
    margin: 10px;
}

.box{
    position: relative;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.box:hover{
    transform: scale(1.03);
}

.title{
    display: flex;
    width: 100%;
    height: 45px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: #fff ;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;

}
.titletext{
    padding: 10px;
    font-size: 16px;
    color:#757575;
    font-weight: 500;
}


@media (max-width:1200px){
    .container{
        width: 90%; 
        display: grid;
        grid-gap:20px;
        grid-template-columns:49% 49%;
        background-color: #fff;
        grid-template-areas: "p1 p2";
        justify-content: center;
    } 
    .nav{margin: 10px;}  
}
@media (max-width:600px){
    .searchbar{
        width: 322px;
        grid-template-columns: repeat(3,98px);

    }
    .container{
        width: 90%; 
        flex-wrap: wrap;
        display: grid;
        grid-gap:25px;
        grid-template-columns:100%;
        grid-template-areas: "p1";
        grid-auto-rows: 280px;
    }   
    .box>img{
        height: 235px;
    }
    .text1{
        width: 320px;
    }
    .search{
        width: 285px;
    }
    input{
        width: 225px;
    }
    
}







