{% extends "base.html" %}

{% block title %}
    <title>景點預定-台北一日遊</title>
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/booking.css') }}" />
{% endblock %}
{% block main %}
        <main>
            <div class="headline">您好，<span id="username"></span>，待預定的行程如下:</div>
            <div class="nodata"></div>
            <article>
                <img src="static\image\icon\icon_delete.png">
                <section class="bookingcontent">
                    <div class="image"><img /></div>
                    <div class="bookingtext">
                        <div class="title">台北一日遊:
                        <span class="name"></span>
                        </div>
                        <div class="booking_detail" id="booking_date">日期:
                            <span></span>
                        </div>
                        <div class="booking_detail" id="booking_time">時間:
                            <span></span>
                        </div>
                        <div class="booking_detail" id="booking_price">費用:
                            <span></span>
                        </div>
                        <div class="booking_detail" id="booking_location">地點:
                            <span></span>
                        </div>
                    </div>
                </section>
                <hr/>
            </article>
            <article >
                <diV class="user_information">您的聯絡資訊</diV>
                <label>聯絡姓名
                    <input type="text" id="username">
                </label>
                <label>聯絡信箱
                    <input type="email">
                </label>
                <label>手機號碼
                    <input type="text"  id="phone" placeholder="09********" maxlength="10">
                </label>
                <div class="notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
                <hr/>
            </article>
            <article id="credit-card">
                <diV class="user_information">信用卡付款資料</diV>
                <div class="credit-card">
                    <label>卡片號碼</label>
                    <div class="tpfield" id="card-number"></div>
                </div>
                <div class="credit-card">
                    <label>過期日期</label>
                    <div class="tpfield" id="card-expiration-date"></div>                
                </div>
                <div class="credit-card">
                    <label>驗證密碼</label>
                    <div class="tpfield" id="card-ccv"></div>
                </div>
                <hr/>
            </article>
            <article class="confirmOrder">
                <div class="total_price">總價:<span></span></div>
                <button  disabled class="submitButton">確認訂購並付款</button>
            </article>
        </main>
{% endblock %}
{% block script %}
        <script id="script"></script>
        <script src="{{ url_for('static', filename='/js/booking.js') }}"></script>
{% endblock %}