{% extends "base.html" %}

{% block title %}
    <title>台北一日遊</title>
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}" />
{% endblock %}
{% block main %}
        <div class="backgroud">
            <div>
                <div class="text1">輕鬆享受台北一日悠閒</div>
                <div class="text2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input placeholder="輸入景點名稱查詢" id="keyword" type="text"/>
                    <button onclick="search()"><img src="{{ url_for('static', filename='image/icon/icon_search.png') }}"></button>
                </div>
                <div class="searchbar"></div>
            </div>
        </div>
        <div class="section">
            <div class="container"></div> 
        </div>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='/js/index.js') }}"></script>   
{% endblock %}