<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>台北一日遊</title>  
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" /> 
    </head>
    <body>
        <header >
            <div class="frame">
                <div class="left">台北一日遊</div>
                <div class="right">
                    <button >預定行程</button>
                    <button >登入/註冊</button>
                </div>
            </div>
        </header>
        <div class="backgroud">
            <div>
                <div class="text1">輕鬆享受台北一日悠閒</div>
                <div class="text2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input placeholder="輸入景點名稱查詢" id="keyword" type="text"/>
                    <button onclick="search()"><img src="{{ url_for('static', filename='icon/icon_search.png') }}"></button>
                </div>
                <div class="searchbar"></div>

            </div>
        </div>
        <div class="outer">
            <div class="container"></div> 
        </div>
        <footer>
            <div>
                COPYRIGHT © 2021 台北一日遊
            </div>
        </footer>
        <script>
            let isLoading=false
            fetch("http://3.114.72.60:3000/api/categories").then(function(response){
                    return response.json();
            }).then(function(data){
                let categories=data.data
                let searchbar=document.querySelector(".searchbar")
                searchbar.addEventListener("click",tapCategory)
                for(let n=0;n<categories.length;n++){
                let category=document.createElement("div")
                category.className="category"
                category.textContent=categories[n]
                searchbar.appendChild(category)
            }
            })
            function tapCategory(e){
                let input=document.querySelector("input");
                input.value=e.target.textContent
            }
            let input=document.querySelector("input")
            input.addEventListener("click",tapInput)
            function tapInput(e){
                e.stopPropagation()
                let searchbar=document.querySelector(".searchbar")
                searchbar.style.display="grid"
            }
            let body=document.querySelector("body")
            body.addEventListener("click",tapanyway)
            function tapanyway(e){
                let searchbar=document.querySelector(".searchbar")
                searchbar.style.display="none"
            }
            let page=0
            search = function (){
                let container=document.querySelector(".container");
                observer.unobserve(loadingObserver)
                let keyword=document.querySelector("#keyword").value;
                container.innerHTML="";
                let data=[]
                page=0
                fetch("http://3.114.72.60:3000/api/attractions?page="+page+"&keyword="+keyword).then(function(response){
                    return response.json();
                }).then(function(totaldata){
                data=totaldata.data
                  if (data && data.length){
                page=0 
                observer.observe(loadingObserver);            
                }else{
                    let nodata=document.createElement("div")
                    nodata.textContent="沒有符合結果，請重新查詢"
                    nodata.className="nodata"
                    container.appendChild(nodata)
                }})}
        
            
            const loadingObserver = document.querySelector('footer');
            const fetchdata=function (){
            let keyword=document.querySelector("#keyword").value;
            fetch("http://3.114.72.60:3000/api/attractions?page="+page+"&keyword="+keyword).then(function(response){
                    return response.json();
            }).then(function(totaldata){
                let data=totaldata.data
                page=totaldata.nextPage;                
                let container=document.querySelector(".container");
                for (let i=0; i<data.length ;i++){
                    http=data[i].image
                    let box=document.createElement("div");
                    let name = document.createElement('div');
                    let nametext = document.createElement('div');
                    box.className="box";
                    box.id="photo"+((page-1)*12+i);
                    container.appendChild(box);
                    let boxid=document.querySelector("#photo"+((page-1)*12+i));
                    let img = document.createElement('img');
                    img.src=http[0];
                    boxid.appendChild(img);
                    nametext.textContent=data[i].name
                    name.className="name";
                    nametext.className="nametext"
                    boxid.appendChild(name)
                    name.appendChild(nametext)

                    let titlei = document.createElement('div');
                    titlei.className="title";
                    titlei.id="title"+((page-1)*12+i);
                    boxid.appendChild(titlei);

                    let titletext=document.querySelector("#title"+((page-1)*12+i))
                    let text=document.createElement("div")
                    let text2=document.createElement("div")
                    text.className="titletext"
                    text2.className="titletext"
                    text.textContent=data[i].mrt;
                    text2.textContent=data[i].category;
                    titletext.appendChild(text);
                    titletext.appendChild(text2);}
                    isLoading=false
                
            })
            };
            const options = {
            rootMargin: '0px 0px 200px 0px',
            threshold: 0.5
            }

            const callback = ([entry]) => {
            if (entry && entry.isIntersecting && page!=null && !isLoading ) {
                isLoading=true
                fetchdata()
            }
            }

            let observer = new IntersectionObserver(callback, options)
            observer.observe(loadingObserver);
  


        </script>  

       
    </body>
</html>