<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>台北一日遊</title>  
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" /> 
    </head>
    <body>
        <header >
            <div class="nav">
                <div class="leftnav">台北一日遊</div>
                <div class="rightnav">
                    <button >預定行程</button>
                    <button id="signUpIn">登入/註冊</button>
                    <button id="signout">登出系統</button>
                </div>
            </div>
        </header>
        <div class="backgroud">
            <div>
                <div class="text1">輕鬆享受台北一日悠閒</div>
                <div class="text2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input placeholder="輸入景點名稱查詢" id="keyword" type="text"/>
                    <button onclick="search()"><img src="{{ url_for('static', filename='icon/icon_search.png') }}"></button>
                </div>
                <div class="searchbar"></div>

            </div>
        </div>
        <div class="section">
            <div class="container"></div> 
        </div>
        <footer>
            <div>COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <div class="sign" id="signIn">
            <div class="decoratorBar"></div>
            <div class="signText">登入會員帳號</div>
            <img class="x" src="{{ url_for('static', filename='icon/icon_close.png') }}"/>
            <input type="email" placeholder="輸入電子信箱" />
            <input type="password" placeholder="輸入密碼" />
            <button id="signInButton">登入帳號</button>
            <div class="dataResponse"></div>            
            <div class="signLine">還沒有帳號？<span id="toSignUp">點此註冊</span></div> 
        </div>
        <div class="sign" id="signUp">
            <div class="decoratorBar"></div>
            <div class="signText">註冊會員帳號</div>
            <img class="x" src="{{ url_for('static', filename='icon/icon_close.png') }}"/>
            <input type="text" placeholder="輸入姓名" id="name" />
            <input type="email" placeholder="輸入電子信箱" id="email" />
            <input type="password" placeholder="輸入密碼" id="password" />
            <button id="signUpButton" >註冊新帳戶</button>
            <div class="dataResponse"></div>
            <div class="signLine">已經有帳戶了？<span id="toSignIn">點此登入</span></div> 
        </div>
        <div class="mask"></div>
        
        <script>
            const signout=document.querySelector("#signout")
            signout.style.display="none"
            const signUpIn=document.querySelector("#signUpIn")
            // 檢查登入狀態
            fetch("/api/user/auth",{
                method:"GET",
                credentials: "include",
                headers:{"Content-Type": "application/json"}
            }).then(function(response){return response.json()}).then(function(result){
                if (result.data){
                    signout.style.display="block"
                    signUpIn.style.display="none"
                }
            })
            // 點擊登出按鈕
            signout.addEventListener("click",function(e){
                fetch("/api/user/auth",{method:"DELETE"}).then(function(response){
                    return response.json();}).then(function(data){
                    location.reload();
                })
            })
            // 點擊註冊按鈕
            const signUpButton=document.querySelector("#signUpButton")
            const signUpResponse=document.querySelector("#signUp>.dataResponse")
            signUpButton.addEventListener("click",function(e){
                let data={}
                signUpResponse.style.display="none"
                SignUpInput=document.querySelectorAll("#signUp>input")
                const regex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/
                const inputEmail=SignUpInput[1].value
                for (let i=0; i<SignUpInput.length; i++){
                    let inputdata=SignUpInput[i].value
                    if (!inputdata){
                        data=null;
                        break;
                    }
                    data[SignUpInput[i].id]=SignUpInput[i].value
                }
                // 驗證輸入註冊資料格式不能空白和email格式
                if(!data || !regex.test(inputEmail)){
                    signUpResponse.textContent="輸入資料格式有錯";
                    signUpResponse.style.display="block";
                    return
                }
                // 將註冊資料送到後端
                fetch("/api/user",{method:"POST", headers:{"Content-Type": "application/json"},
                body:JSON.stringify(data)}).then(function(response){return response.json();
                }).then(function(data){
                    if(data.error){
                        signUpResponse.style.display="block"
                        signUpResponse.textContent=data.message
                        return
                    }
                    signUpResponse.style.display="block"
                    signUpResponse.style.color="black"
                    signUpResponse.textContent="註冊成功!請重新登入"
                })
            })
            // 點擊登入按鈕
            const signInButton=document.querySelector("#signInButton")
            const signInResponse=document.querySelector("#signIn>.dataResponse")
            signInButton.addEventListener("click", function(){
                signInResponse.style.display="none"
                const signInData=document.querySelectorAll("#signIn>input")
                let data={email:signInData[0].value, password:signInData[1].value}
                fetch("/api/user/auth", {method:"PUT", headers:{"Content-Type": "application/json"},
                body:JSON.stringify(data)}).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result.error){
                        signInResponse.style.display="block"
                        signInResponse.textContent="帳號或密碼輸入錯誤"
                        return
                    }
                    location.reload()
                })
            })

            const mask=document.querySelector(".mask")
            const signIn=document.querySelector("#signIn")
            const signUp=document.querySelector("#signUp")

            const toSignUp=document.querySelector("#toSignUp")
            toSignUp.addEventListener("click",function(){
                signIn.style.display="none"
                signUp.style.display="flex"
                signUpResponse.style.display="none"
            })
            const toSignIn=document.querySelector("#toSignIn")
            toSignIn.addEventListener("click",function(){
                signIn.style.display="flex"
                signUp.style.display="none"
                signInResponse.style.display="none"

            })

            const signpages=document.querySelectorAll(".sign")
            signpages.forEach( closepage => {closepage.addEventListener("click", function(e){
                if (e.target.className == "x"){
                    this.style.display="none"
                    mask.style.display="none"
            }})});
            signUpIn.addEventListener("click", function(){
                signIn.style.display="flex"
                mask.style.display="block"
            })


            let isLoading=false
            const input=document.querySelector("input")
            const searchbar=document.querySelector(".searchbar")
            const body=document.querySelector("body")
            const container=document.querySelector(".container");
            fetch("http://3.114.72.60:3000/api/categories").then(function(response){
                    return response.json();
            }).then(function(data){
                const categories=data.data
                searchbar.addEventListener("click",tapCategory)
                for(let n=0;n<categories.length;n++){
                    let category=document.createElement("div")
                    category.className="category"
                    category.textContent=categories[n]
                    searchbar.appendChild(category)
                }
            })
            function tapCategory(e){
                input.value=e.target.textContent
            }

            input.addEventListener("click",tapInput)
            function tapInput(e){
                e.stopPropagation()
                searchbar.style.display="grid"
            }

            body.addEventListener("click",tapanyway)
            function tapanyway(e){
                searchbar.style.display="none"
            }

            let page=0
            search = function (){
                let keyword=document.querySelector("#keyword").value;
                observer.unobserve(loadingObserver)
                container.innerHTML="";
                let data=[]
                page=0
                fetch("http://3.114.72.60:3000/api/attractions?page="+page+"&keyword="+keyword).then(function(response){
                    return response.json();
                }).then(function(totaldata){
                data=totaldata.data
                  if (data && data.length){
                    page=0 
                    observer.observe(loadingObserver);            
                }else{
                    let nodata=document.createElement("div")
                    nodata.textContent="沒有符合結果，請重新查詢"
                    nodata.className="nodata"
                    container.appendChild(nodata)
                }})}
        
            
            const loadingObserver = document.querySelector('footer');
            const fetchdata=function (){
            let keyword=document.querySelector("#keyword").value;
            fetch("http://3.114.72.60:3000/api/attractions?page="+page+"&keyword="+keyword).then(function(response){
                    return response.json();
            }).then(function(totaldata){
                let data=totaldata.data
                for (let i=0; i<data.length ;i++){
                    http=data[i].image
                    let box=document.createElement("a")
                    let name = document.createElement('div');
                    let nametext = document.createElement('div');
                    box.className="box";
                    box.href="/attraction/"+parseInt(data[i].id)                   
                    box.id="photo"+((page)*12+i);
                    container.appendChild(box);
                    let boxid=document.querySelector("#photo"+((page)*12+i));
                    let img = document.createElement('img');
                    img.src=http[0];
                    boxid.appendChild(img);
                    nametext.textContent=data[i].name
                    name.className="name";
                    nametext.className="nametext"
                    boxid.appendChild(name)
                    name.appendChild(nametext)

                    let titlei = document.createElement('div');
                    titlei.className="title";
                    titlei.id="title"+((page)*12+i);
                    boxid.appendChild(titlei);

                    let titletext=document.querySelector("#title"+((page)*12+i))
                    let text=document.createElement("div")
                    let text2=document.createElement("div")
                    text.className="titletext"
                    text2.className="titletext"
                    text.textContent=data[i].mrt;
                    text2.textContent=data[i].category;
                    titletext.appendChild(text);
                    titletext.appendChild(text2);
                }
                    isLoading=false  
                    page=totaldata.nextPage;  
            }
            )};

            const options = {
            rootMargin: '0px 0px 200px 0px',
            threshold: 0.5
            }

            const callback = ([entry]) => {
            if (entry && entry.isIntersecting && page!=null && !isLoading ) {
                isLoading=true
                fetchdata()
            }}

            let observer = new IntersectionObserver(callback, options)
            observer.observe(loadingObserver);
        </script>   
    </body>
</html>