{% extends "base.html" %}

{% block title %}
    <title>感謝訂購-台北一日遊</title>
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/thankyou.css') }}" />
{% endblock %}
{% block main %}
        <main>
            <article>
                <div><img src="static\image\icon\icon_finished.png"/></div>
                <div class="title">
                    行程預定成功
                </div>
                <div class="ordernumber">
                    訂單編號:<span></span>
                </div>
                <div>請記住此編號，以便後續處理。</div>
            </article>
        </main> 
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='/js/thankyou.js')}}"></script>   
{% endblock %}